<div>
  <h2>Links</h2>
  <ul>
    <li>
    <a href='//www.paris-montagne.org/'>Paris-Montagne</a>
    </li>
    <li>
    <a href='//www.ensiie.fr/'>ENSIIE</a>
    </li>
    <li>
    <a href='//www.upmc.fr/'>UPMC</a>
    </li>
    <li>
    <a href='//news.ycombinator.com/'>Hacker News</a>
    </li>
  </ul>
</div>
