<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Sieben.fr :: Rémy Léone's Website</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/projects">Projects</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/links">Links</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
