<div>
  <h2>Me elsewhere</h2>
  <ul>
    <li>
    <a href='//www.twitter.com/remyleone'>twitter</a>
    </li>
    <li>
    <a href='//www.github.com/sieben'>github</a>
    </li>
    <li>
    <a href='//www.delicious.com/sieben'>delicious</a>
    </li>
    <li>
    <a href='//fr.linkedin.com/in/remyleone'>linkedin</a>
    </li>
  </ul>
</div>
