body{
    background: url("../img/fond.jpg");
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    opacity: 1;
    color: #FFFF66;
    text-align: center;
    margin:auto;
    width:70%;
}

.centre
{
    width: 900px;
    margin: 0 auto;
    height:90px;
}

.class
{
    color: red;
    mark: green;
}

.encart h3{

    font-weight:normal;
    margin:0;
    border-bottom:4px solid #7F7F7F;

    background:-webkit-gradient(linear, left top, left bottom, from(#7F7F7F), to(666666));

    -moz-box-shadow:0px 1px 2px black;
    -webkit-box-shadow:0px 1px 2px black;box-shadow:0px 1px 2px black;
    padding-left:15px;
    color:#fff;
}

.footer
{
    width: 60%;
    border: solid 1px #336699;
    margin-top:50px;
}

.article
{
    background-color: #FFF;
    font-size: 18px;
    text-align: center;
}

ul
{
    float:left;
    width:100%;
    padding:0;
    margin:0;
    list-style-type:none;
}

a
{
    float:left;
    width:6em;
    text-decoration:none;
    color:white;
    background-color: #180000  ;
    padding:0.2em 0.6em;
    border-right:1px solid white;
}

a:hover {background-color:#CC9900 ;}

li {
    display:inline;
    .titre1
    { color: #CCFF66;
    }
