---
layout: default
---
<div class='article'>
  <div class='stack3of5'>
    <h2 class='stackContent'>
      <a href='{{ page.url }}'>{{ page.title }}</a>
    </h2>
  </div>
  <div class='stack2of5'>
    <p class='stackContent date'></p>
  </div>
  {% unless page.tags == empty %}
  <ul>
    {% assign tags_list = page.tags %}
    {% include tags_list %}
  </ul>
  {% endunless %}
  <div class='stackContent'>
    {{ content }}
  </div>
  <hr>
  <div>
    <ul>
      {% if page.previous %}
      <li><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
      <li><a>&larr; Previous</a></li>
      {% endif %}
      <li><a href="{{ site.archive_path }}">Archive</a></li>
      {% if page.next %}
      <li><a href="{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
      <li><a>Next &rarr;</a>
      {% endif %}
    </ul>
  </div>
</div>
